{% extends "layout.html" %}

{% block body %}
    
    <div class="container text-center">
        <div class="row my-3">
            <div class="col">
                {% if shared %}
                    <h2>Idea shared for: <a href="{% url 'request_view' request_id %}" class="text-info">{{ request_title }}</a></h2>
                {% else %}
                    <h2>{{ request_title }}</h2>
                {% endif %}
                ________
            </div>
        </div>
    </div>

    <div id="ideas_app">
    </div>
    <script type="text/babel">
        ReactDOM.render(<Single_Idea idea_id="{{ idea_id }}"/>, document.querySelector("#ideas_app"));
    </script>
    


{% endblock %}