{% extends "layout.html" %}

{% block body %}
    <br>
    <div class="container">

        <h3>Please, fill in the information below:</h3>

        {% if message %}
            The following errors were found:
            <div>
                {{ message }}
            </div>
        {% endif %}
        
        {% if pwd_message %}
            <div><ul>
                {% for msg in pwd_message %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul></div>
        {% endif %}

    
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="origin" value="register_user">
            <div class="form-row mb-2">
                <div class="col">
                    First Name:<input class="form-control" autofocus type="text" name="first_name" maxlength="24">
                </div>
                <div class="col">
                    Last Name:<input class="form-control"  type="text" name="last_name" maxlength="24">
                </div>
            </div>

            <div class="form-row mb-2">
                <div class="col">
                    Email Address:<input class="form-control" type="email" name="email" placeholder="mail@example.com" maxlength="256">
                </div>
                <div class="col">
                    Username: <input class="form-control"  type="text" name="username" maxlength="24">
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col">
                    Telephone: <input class="form-control"  type="tel" name="phone" placeholder="Ex. +41524204242">
                </div>
                <div class="col">
                    Birth Date: <input class="form-control"  type="date" name="birthdate" placeholder="Birth Date">
                </div>
            </div>        
            <div class="form-row mb-2">
                <div class="col">
                    Password:<input class="form-control" type="password" name="password" placeholder="*******">
                </div>
                <div class="col">
                    Confirm Password:<input class="form-control" type="password" name="confirmation" placeholder="*******">
                </div>    
            </div>
            <div class="form-row mb-2">
                <div class="col">
                    Upload a profile image: <input class="form-control-file" type="file" name="image">
                </div>
            </div>  
            <div class="form-row my-3 justify-content-between align-middle">
                <div class="col-2">
                    <input class="btn btn-dark" type="submit" value="Register">
                </div>

                <div class="col-8 text-right">
                    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
            </div>
        </form>
    </div>

    

{% endblock %}