{% extends "layout.html" %}

{% block body %}
    <script src="https://js.stripe.com/v3/"></script>

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div id="requests_app">
    </div>

    
    <script type="text/babel">
        ReactDOM.render(<Single_Request_Parent request_id="{{ request_id }}" request_username="{{ request.user.username }}"/>, document.querySelector("#requests_app"));
    </script>

    {% if requester_username == request.user.username %}

        <div id="ideas_preview" class="my-3">
        </div>

        <script type="text/babel">
            ReactDOM.render(<Preview_Shared_Ideas request_id="{{ request_id }}" request_username="{{ request.user.username }}"/>, document.querySelector("#ideas_preview"));
        </script>
    {% endif %}


{% endblock %}