{% extends "layout.html" %}

{% block body %}

    <div class="container mt-3">
        <h2>Reset your password.</h2>

        {% if message %}
            <div class="alert alert-info" role="alert">{{ message }}.. </div>
        {% endif %}

        {% if hash %}
            <div class="alert alert-info" role="alert">Developer Click Here: <a href="{% url 'reset_password_hash' hash %}">HASH LINK</a></div>
        {% endif %}

        <span>Confirm your email to reset your password:</span>

        <form class="my-2" action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="email" name="email" placeholder="email@example.com">
            </div>
            <input class="btn btn-info" type="submit" value="Reset Password">
        </form>
    </div>


{% endblock %}